.youAlsoLikeContainer{
    height: 30vh;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.youAlsoLikeSpan{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #ED401A;
}

.mobile .youAlsoLikeSpan{
    font-size: 25px;
}

.tablet .youAlsoLikeSpan{
    font-size: 25px;
}