.cloothPaternContainer{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E9E9E9;
    position: relative;
}
.cloothPaternSpans{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}
.cloothPaternHeader{
    height: 100px;
    width: 769px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}
.cloothPaternSpan{
    width: 728px;
    height: 180px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.cloothPaternElements{
    display: flex;
    gap: 80px;
}
.cloothPaternImage1{
    width: 350px;
}
.cloothPaternImage2{
    width: 200px;
}



.tablet .cloothPaternContainer{
    height: 1000px;
}

.tablet .cloothPaternSpans{
    width: 100%;
    align-items: center;
}

.tablet .cloothPaternHeader{
    width: 100%;
}

.tablet .cloothPaternSpan{
    width: 80%;
    height: 150px;
}

.tablet .cloothPaternVector{
    width: 30px;
    position: relative;
    transform: rotate(90deg);
}

.tablet .cloothPaternElements{
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.tablet .cloothPaternImage1{
    width: 60%;
}

.tablet .cloothPaternImage2{
    width: 50%;
}




.mobile .cloothPaternVector{
    width: 30px;
    position: relative;
    transform: rotate(90deg);
}

.mobile .cloothPaternContainer{
    height: 1000px;
}

.mobile .cloothPaternSpans{
    width: 100%;
    align-items: center;
}

.mobile .cloothPaternHeader{
    width: 100%;
}

.mobile .cloothPaternSpan{
    width: 80%;
    height: 150px;
}

.mobile .cloothPaternElements{
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.mobile .cloothPaternImage1{
    width: 60%;
}

.mobile .cloothPaternImage2{
    width: 50%;
}

