.cloothPaternContainer{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E9E9E9;
}
.cloothPaternSpans{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}
.cloothPaternHeader{
    height: 100px;
    width: 769px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1px;
    color: #000000;
}
.cloothPaternSpan{
    width: 728px;
    height: 180px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.cloothPaternElements{
    display: flex;
    gap: 80px;
}
.cloothPaternImage1{
    width: 350px;
}
.cloothPaternImage2{
    width: 200px;
}
@media screen and (max-width: 500px){
    .cloothPaternContainer{
        height: 900px;
    }
    .cloothPaternHeader{
        height: 70px;
        width: 356px;
        font-weight: 700;
        font-size: 29px;
        line-height: 35px;
    }
    .cloothPaternSpan{
        width: 345px;
        height: 135px;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 19px;
    }
    .cloothPaternElements{
        flex-direction: column;
    }
    .cloothPaternImage1{
        width: 250px;
    }
    .cloothPaternVector{
        width: 30px;
        position: relative;
        left: 110px;
        transform: rotate(90deg);
    }
    .cloothPaternImage2{
        width: 150px;
        position: relative;
        left: 50px;
    }
}