.metaReportsContainer{
    height: 70vh;
    display: flex;
    gap: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.metaReportsSpans{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.metaReportsHeader{
    width: 600px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 66px;
    color: #000000;
}
.metaReportsSpan{
    width: 594px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}
.metaReportsList{
    font-size: 18px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.metaReportsImage{
    width: 500px;
}

/* Reeponsive Tablet Settings */

.tablet .metaReportsContainer{
    height: 85vh;
}

.tablet .metaReportsImg{
    position: absolute;
    bottom: 100px;
}

.tablet .metaReportsImage{
    width: 300px;
}

.tablet .metaReportsSpans{
    position: absolute;
    top: 10px;
    right: auto;
    align-items: center;
}

.tablet .metaReportsHeader{
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.tablet .metaReportsSpan{
    width: 80%;
    font-size: 16px;
    text-align: center;
}

/* Reeponsive Mobile Settings */

.mobile .metaReportsContainer{
    height: 115vh;
}

.mobile .metaReportsImg{
    position: absolute;
    bottom: 100px;
}

.mobile .metaReportsImage{
    width: 300px;
}

.mobile .metaReportsSpans{
    position: absolute;
    top: 10px;
    right: auto;
    align-items: center;
}

.mobile .metaReportsHeader{
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.mobile .metaReportsSpan{
    width: 80%;
    font-size: 16px;
    text-align: center;
}

.mobile .metaReportsList {
    font-size: 15px;
}