.metaReportsContainer{
    height: 715px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.metaReportsSpans{
    display: flex;
    flex-direction: column;
}
.metaReportsHeader{
    height: 155px;
    width: 587px;
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 66px;
    letter-spacing: -1px;
    color: #000000;
}
.metaReportsSpan{
    width: 594px;
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #000000;
}
.metaReportsList{
    font-size: 23px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}