.blogsMainContainer{
    background: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.squares{
    display: flex;
    position: relative;
    margin: 50px;
    width: 100%;
    justify-content: space-evenly;
}
.square{
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px 0px 3px;
    gap: 40px;
    position: relative;
    width: 23%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
}

.blogAuthor{
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}
.squareButton{
    height: 25px;
    background: #ED401A;
    z-index: 1;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 0px;
}
.squareButton a{
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
    text-decoration: none;
}
.squareHeader{
    width: 80%;
    height: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #F5F5F5;
    z-index: 1;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
.squareHistory{
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
}


.squareImg{
    position: absolute;
    width: 100%;
}

#squareImgMobile{
    display: none;
}

/* Reeponsive Tablet Settings */

.tablet .blogsMainContainer{
    height: 200vh;
}

.tablet .squares{
    width: 90%;
    flex-direction: column;
}

.tablet .squareHeader{
    justify-content: center;
}

/* Reeponsive Mobile Settings */

.mobile .squares{
    width: 100%;
    flex-direction: column;
    top: auto;
    gap: 20px;
}
.mobile .square{
    width: auto !important;
    height: 470px !important;
}
.mobile #squareImgDeskop{
    display: none;
}
.mobile #squareImgMobile{
    display: block;
}

.mobile #blogAuthor1{
    gap: 90px !important;
}

.mobile #blogAuthor2{
    gap: 80px !important;
}

.mobile #blogAuthor3{
    gap: 80px !important;
}

.mobile .squareButton{
    top: 50px;
}