.blogsMainContainer{
    background: #EBEBEB;
    height: 2600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.squares{
    display: flex;
    gap: 20px;
    position: relative;
    top: 90px;
}
.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0px 3px;
    gap: 164px;
}
.squareButton{
    width: 94px;
    height: 25px;
    background: #ED401A;
    z-index: 1;
    border: none;
    cursor: pointer;
}
.squareButton a{
    width: 68px;
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.squareHeader{
    width: 346px;
    height: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
    z-index: 1;
    position: relative;
    top: 120px;
}
.squareHistory{
    width: 110px;
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
    left: 10px;
}
.squareImg{
    position: absolute;
}