.jointContainer{
    height: 730px;
    display: flex;
    justify-content: space-evenly;
    background: #EBEBEB;
    margin-top: 60px;
    align-items: center;
}
.jointSpans{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;
    gap: 70px;
}
.jointImage{
    width: 100%;
}
.jointImageDiv{
    position: absolute;
    right: 0px;
}

.tablet .jointContainer{
    height: 740px;
}
.tablet .jointSpans{
    left: auto;
    bottom: 50px;
}
.tablet .jointImageDiv{
    right: auto;
    top: 50px;
}

.mobile .jointContainer{
    height: 740px;
}
.mobile .jointSpans{
    left: auto;
    bottom: 50px;
    gap: 30px;
}
.mobile .jointImageDiv{
    right: auto;
    top: 100px;
}