.jointContainer{
    height: 730px;
    display: flex;
    justify-content: space-evenly;
    background: #EBEBEB;
    margin-top: 60px;
}
.jointSpans{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    right: 150px;
}
.jointImage{
    position: absolute;
    top: 300px;
    left: 600px;
    width: 700px;
}
@media screen and (max-width: 500px){
    .jointContainer{
        height: 900px;
        justify-content: normal;
        width: 414px;
    }
    .jointSpans{
        right: 0px;
        justify-content: normal;
        gap: 20px;
        top: 70px;
    }
    .jointImage{
        width: 400px;
        top: 550px;
        left: 0px;
    }
}