.productStatisticsContainer{
    height: 536px;
    display: flex;
    background: white;
    gap: 50px;
    justify-content: space-around;
}
.productStatisticsHeader{
    display: flex;
    height: 170px;
    width: 100%;
    line-height: 57px;  
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    letter-spacing: -1px;
    color: #000000;
}
.productStatisticsSpans{
    width: 100%;
    display: flex;
    height: 130px;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
    gap: 40px;
    flex-direction: column;
}
.productStatisticsSpanElements{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    top: 100px;
}
.productStatisticsImage{
    position: relative;
    top: 100px;
}

.tablet .productStatisticsContainer{
    flex-direction: column;
    justify-content: normal;
    height: 533px;
    align-items: center;
}
.tablet .productStatisticsHeaders{
    height: 50%;
}
.tablet .productStatisticsSpanElements{
    top: 30px;
    left: auto;
}
.mobtabletile .productStatisticsHeader{
    height: 120px;
    font-size: 29px;
    position: relative;
}
.tablet .productStatisticsSpans{
    font-size: 18px;
    gap: 10px;
    position: relative;
    height: 50%;
}
.tablet .productStatisticsImage img{
    width: 300px;
}
.tablet .productStatisticsImage{
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mobile .productStatisticsContainer{
    flex-direction: column;
    justify-content: normal;
    height: 533px;
    align-items: center;
}
.mobile .productStatisticsSpanElements{
    top: 30px;
    left: auto;
}
.mobile .productStatisticsHeader{
    height: 120px;
    font-size: 29px;
    position: relative;
}
.mobile .productStatisticsSpans{
    font-size: 13px;
    gap: 10px;
    position: relative;
}
.mobile .productStatisticsImage img{
    width: 300px;
}
.mobile .productStatisticsImage{
    top: 0px;
}