.productStatisticsContainer{
    height: 70vh;
    display: flex;
    background: white;
    gap: 50px;
    justify-content: space-around;
}
.productStatisticsHeader{
    display: flex;
    height: 140px;
    width: 80%;
    line-height: 57px;  
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #000000;
}
.productStatisticsSpans{
    width: 60%;
    display: flex;
    height: 130px;
    font-style: normal;
    font-weight: 250;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    text-transform: capitalize;
    color: #000000;
    gap: 20px;
    flex-direction: column;
}
.productStatisticsSpanElements{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 80px;
    top: 100px;
    width: 60%;
}
.productStatisticsImage{
    position: absolute;
    right: 70px;
    bottom: 106px;
}

@media screen and (max-width: 1200px) {

    .productStatisticsContainer{
        flex-direction: column;
        justify-content: normal;
        height: 533px;
        align-items: center;
    }
    .productStatisticsSpanElements{
        left: auto;
    }
    .productStatisticsHeader{
        height: 120px;
        font-size: 29px;
        position: relative;
    }
    .productStatisticsSpans{
        font-size: 13px;
        gap: 10px;
        position: relative;
    }
    .productStatisticsImage img{
        width: 300px;
    }
    .productStatisticsImage{
        top: 150px;
    }
}

.mobile .productStatisticsContainer{
    flex-direction: column;
    justify-content: normal;
    height: 65vh;
    align-items: center;
}
.mobile .productStatisticsSpanElements{
    left: auto;
    top: auto;
    align-items: center;
    width: 100%;
}
.mobile .productStatisticsHeader{
    width: 100%;
    height: auto;
    font-size: 29px;
    text-align: center;
}
.mobile .productStatisticsSpans{
    font-size: 13px;
    gap: 10px;
    position: relative;
}
.mobile .productStatisticsImage img{
    width: 300px;
}
.mobile .productStatisticsImage{
    top: auto;
    bottom: 40px;
    right: auto;
}
.mobile .productStatisticsSpanElementsDiv{
    height: 100% !important;
    justify-content: center !important;
}
