.WhatsNewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    gap: 20px;
    position: relative;
    background: #f1f1f1;
}
.whatsNewHeader{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    position: relative;
}
.whatsNewSpan{
    width: 70%;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.whatsNewSpans{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
}
.whatsNewElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 100px;
}
.whatsNewElement{
    width: 90%;
}
.whatsNewElementShadow{
    height: 65.9px;
    position: relative;
    bottom: 1px;
}


.tablet .WhatsNewContainer{
    height: 1000px;
}

.mobile .WhatsNewContainer{
    height: 780px;
}

.mobile .whatsNewElements{
    bottom: 50px;
}