.tryCloothContainer{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.tryCloothElements{
    display: flex;
    flex-direction: column;
}
.tryCloothHeader{
    width: 543px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #000000;
}
.tryCloothSpan{
    width: 436px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #000000;
}
.tryCloothElementImage{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Reeponsive Tablet Settings */

.tablet .tryCloothContainer{
    height: 120vh;
}

.tablet .tryCloothElements{
    position: absolute;
    top: 0px;
    width: 100%;
    align-items: center;
}

.tablet .tryCloothImages{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.tablet .tryCloothImage{
    width: 30% !important;
}

.tablet .tryCloothHeader{
    height: 100px;
    width: 100%;
    text-align: center;
}

.tablet .tryCloothSpan{
    width: 70%;
    height: 150px;
    text-align: center;
}

.tablet .tryCloothBubble{
    display: none;
}

/* Reeponsive Mobile Settings */

.mobile .tryCloothContainer{
    height: 100vh;
}

.mobile .tryCloothElements{
    position: absolute;
    top: 0px;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.mobile .tryCloothImages{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.mobile .tryCloothImage{
    width: 35% !important;
}

.mobile .tryCloothHeader{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.mobile .tryCloothSpan{
    width: 80%;
    text-align: center;
}

.mobile .tryCloothBubble{
    display: none;
}

.mobile .tryCloothElementImage{
    align-items: center;
}

.mobile .tryCloothElementImage1{
    width: 70% !important;
}

.mobile .tryCloothElementImage2{
    width: 70% !important;
}