.shoesContainer{
    height: 730px;
    display: flex;
    justify-content: space-evenly;
    background: #EBEBEB;
    margin-top: 60px;
}
.shoesImage{
    position: absolute;
    top: 72px;
    left: 700px;
    width: 665px;
}
@media screen and (max-width: 500px){
    .shoesContainer{
        height: 900px;
        width: 414px;
    }
    .shoesImage{
        width: 400px;
        left: 0px;
        top: 523px;
    }
}