.shoesContainer{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    background: #EBEBEB;
    margin-top: 60px;
    position: relative;
    align-items: center;
}

.shoesImageDiv{
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.shoesImage{
    position: relative;
    width: 92%;
}


.tablet .shoesImageDiv{
    position: absolute;
    right: auto;
    width: 40%;
    bottom: 0px;
    height: 50%;
}

.tablet .shoesImage{
    position: absolute;
    bottom: 0px;
}

.mobile .shoesImageDiv{
    position: absolute;
    right: auto;
    width: 40%;
    bottom: 0px;
    height: 50%;
}

.mobile .shoesImage{
    position: absolute;
    bottom: 0px;
    width: 200px;
}