.shoesContainer{
    height: 730px;
    display: flex;
    justify-content: space-evenly;
    background: #EBEBEB;
    margin-top: 60px;
    position: relative;
    align-items: center;
}

.shoesImageDiv{
    position: absolute;
    right: 0px;
    width: 50%;
}

.shoesImage{
    position: relative;
    width: 100%;
}

.tablet .shoesContainer{
    height: 900px;
}

.tablet .shoesImageDiv{
    position: absolute;
    right: auto;
    width: 40%;
    bottom: 0px;
    height: 50%;
}

.tablet .shoesImage{
    position: absolute;
    bottom: 0px;
}

.mobile .shoesContainer{
    height: 720px;
}

.mobile .shoesImageDiv{
    position: absolute;
    right: auto;
    width: 40%;
    bottom: 0px;
    height: 50%;
}

.mobile .shoesImage{
    position: absolute;
    bottom: 0px;
}