.blogParagraphsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    margin-top: 70px;
}
.blogParagraphs2Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}
.blogParagraphs3Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}
.blogParagraphs4Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}
.blogParagraphs4Container img{
    width: 100%;
}
.paragraph{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 40px;
    align-items: center;
}
.paragraphHeader{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 66px;
    display: flex;
    align-items: center;
    color: #000000;
}
.paragraphWithImage{
    display: flex;
    width: 100%;
    justify-content: center;
}
.paragraphImage2{
    width: 20%;
}
.paragraphImage{
    width: 70%;
}
.paragraphSpan{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #8C8C8C;
}
.secondParagraphLists{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.secondParagraphList{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #8C8C8C;
}
.author{
    width: 657px;
    height: 173px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #e4e7ea;
    border-radius: 12px;
    margin-bottom: 30px;
}
.authorSpans{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.authorHeader{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #ED401A;
}
.authorSpan{
    font-style: normal;
    font-weight: 250;
    font-size: 11px;
    line-height: 124.5%;
    display: flex;
    align-items: center;
    color: #848181;
}

.authorImage{
    width: 40%;
    margin: 15px;
}

.videoParagraph{
    display: flex;
    align-items: center;
}

/* Reeponsive Tablet Settings */


.tablet .paragraphHeader{
    line-height: 37px;
    font-size: 28px;
}

.tablet .secondParagraphLists{
    gap: 14px;
}

.tablet .secondParagraphList{
    font-size: 14px;
    line-height: 25px;
}

.tablet .author{
    width: 290px;
    left: auto;
}

.tablet .authorHeader{
    font-size: 15px;
}

.tablet .authorSpan{
    font-size: 9px;
    line-height: 14px;
}

.tablet .authorImage{
    width: auto !important;
}
.mobile .paragraph{
    width: 90%;
    overflow: hidden;
}
.mobile .paragraph img{
    width: 100%;
}
.tablet .paragraphSpan{
    font-size: 14px;
    line-height: 25px;
}

.tablet #authorImage{
    width: 100% !important;
}

/* Reeponsive Mobile Settings */

.mobile .paragraphHeader{
    line-height: 37px;
    font-size: 20px;
}

.mobile .secondParagraphLists{
    gap: 14px;
}

.mobile .secondParagraphList{
    font-size: 14px;
    line-height: 25px;
}

.mobile .author{
    width: 290px;
    left: auto;
}

.mobile .authorHeader{
    font-size: 15px;
}

.mobile .authorSpan{
    font-size: 9px;
    line-height: 14px;
}

.mobile .paragraphSpan{
    font-size: 14px;
    line-height: 25px;
}

.mobile #authorImage{
    width: 100%;
}

