.cloothContainer{
    height: 730px;
    display: flex;
    justify-content: space-evenly;
    background: #EBEBEB;
    margin-top: 60px;
}
.cloothImage{
    position: absolute;
    top: 100px;
    left: 800px;
    width: 500px;
}
@media screen and (max-width: 500px){
    .cloothContainer{
        width: 100%;
        height: 900px;
    }
    .cloothImage{
        top: 422px;
        left: 0px;
        width: 400px;
    }
}