.ShowAtHomeContainer{
    height: 730px;
    display: flex;
    justify-content: space-evenly;
    background: #EBEBEB;
    margin-top: 60px;
}
.showAtHomeBubbles{
    position: absolute;
    height: 1000px;
}
.showAtHomeSpans{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40px;
    top: 80px;
    gap: 100px;
}
.showAtHomeHeader{
    height: 100px;
    width: 510px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: -1px;
    color: #000000;
}
.showAtHomeSpan{
    width: 497px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
}
.showAtHomeImage{
    position: relative;
    top: 50px;
    left: 50px;
    width: 500px;
}
.showAtHomeButtons{
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    bottom: 50px;
}
.showAtHomeButton1{
    height: 60px;
    width: 170px;
    background: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    filter: drop-shadow(1px 6px 8px rgba(66, 66, 66, 0.35));
}
.showAtHomeButton1:hover,
.showAtHomeButton1 a:hover{
    background: red;
    color: white;
}
.showAtHomeButton1 a {
  color: red;
}
.showAtHomeButton1:hover a {
  color: white;
}
.showAtHomeButton2:hover,
.showAtHomeButton2 a:hover{
    background: red;
    color: white;
}
.showAtHomeButton2 a {
  color: red;
}
.showAtHomeButton2:hover a {
  color: white;
}
.showAtHomeButton1 a{
    height: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ED401A;
}
.showAtHomeButton2{
    height: 60px;
    width: 170px;
    border: 2px solid #ED401A;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.showAtHomeButton2 a{
    width: 109px;
    height: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ED401A;
}
@media screen and (max-width: 500px){
    .ShowAtHomeContainer{
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 900px;
    }
    .showAtHomeImage{
        width: 328px;
        left: 40px;
        top: 40px;
    }
    .showAtHomeSpans{
        gap: 40px;
        top: 50px;
    }
    .showAtHomeHeader{
        width: 300px;
        font-size: 29px;
        position: relative;
        left: 90px;
    }
    .showAtHomeSpan{
        width: 246px;
        font-size: 17px;
        position: relative;
        left: 100px;
    }
    .showAtHomeButtons{
        bottom: 0px;
        left: 90px;
    }
    .showAtHomeButton1{
        width: 100px;
        height: 35px;
    }
    .showAtHomeButton1 a{
        width: 90px;
        height: 26px;
        font-size: 13px;
    }
    .showAtHomeButton2{
        width: 100px;
        height: 35px;
    }
    .showAtHomeButton2 a{
        width: 71px;
        height: 26px;
        font-size: 13px;
    }
    .bubble1{
        width: 300px;
        position: relative;
        right: 100px;
    }
    .bubble2{
        width: 150px;
        top: 650px !important;
        right: 300px !important;
    }
    .bubble3{
        bottom: 00px !important;
        right: 100px !important;
    }
    .bubble5{
        width: 200px;
        bottom: 10px !important;
        left: 214px !important;
    }
}