.shareBlogContainer{
    height: 60vh;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.shareBlogHeader{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 66px;
    text-align: center;
    color: #000000;
}
.shareBlogSpan{
    width: 80%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8A8A8A;
    mix-blend-mode: normal;
}
.shareBlogButton{
    width: 154px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid #ED401A;
    border-radius: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.shareBlogButton a{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ED401A;
}

/* Reeponsive Mobile Settings */

.mobile .shareBlogHeader{
    font-size: 30px;
    line-height: 40px;
}


@media screen and (max-width: 499px) {
    .shareBlogContainer{
        height: 60vh !important;
    }
}