.productsCustomerContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    height: 89px;
    background: rgba(237, 64, 26, 0.8);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.productsCustomerContainer img{
    transform: scaleY(-1);
    width: 200px;
}
@media screen and (max-width: 500px){
    .productsCustomerContainer{
        height: 43px;
        gap: 20px;
    }
    .productsCustomerContainer img{
        width: 70px;
    }
}