.productsCustomerContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    height: 89px;
    background: coral;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.productsCustomerContainer img{
    transform: scaleY(-1);
    width: 200px;
}
.mobile .productsCustomerContainer{
    height: 43px;
    gap: 20px;
}
.mobile .productsCustomerContainer img{
    width: 20%;
}