.aboutContainer{
    display: flex;
    height: 70vh;
    position: relative;
}
.aboutSpans{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 90px;
    top: 30px;
    position: absolute;
    gap: 10px;
    height: 75%;
    z-index: 1;
}
.aboutSpansHeader{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.aboutSpan{
    width: 42%;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    text-align: justify;
    text-transform: capitalize;
    color: #000000;
    position: relative;
    font-family: 'Nunito';
}
.aboutButton{
    border: white;
    width: 150px;
    height: 44px;
    background: #ED401A;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}
.aboutButton a{
    width: 83px;
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 15.9998px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.aboutLogos{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.firstAboutLogo{
    position: absolute;
    right: 10px;
    bottom: 0px;
}
.secondAboutLogo{
    position: absolute;
    filter: blur(7.5px);
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.tablet .aboutContainer{
    height: 100vh;
}

.tablet .aboutSpans{
    width: 100%;
    height: 40%;
    left: 0px;
    top: 0px;
    align-items: center;
    z-index: 1;
}

.tablet .aboutLogos{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}

.tablet .firstAboutLogo{
    width: 400px;
}


.tablet .aboutSpan{
    width: 80%;
    text-align: center;
}

.tablet .firstAboutLogo{
    right: auto;
}

.mobile .aboutContainer{
    height: 90vh;
}

.mobile .aboutSpans{
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    align-items: center;
}

.mobile .aboutSpan{
    width: 80%;
    text-align: center;
    line-height: 20px;
}

.mobile .firstAboutLogo{
    width: 40%;
    right: auto;
}

.tablet .firstAboutLogo{
    width: 40%;
    right: auto;
}

.mobile .aboutLogos{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}


.tablet .aboutButton{
    margin-top: 0px;
}

.mobile .aboutSpansHeader{
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .aboutSpans{
        height: auto;
    }
}