.aboutContainer{
    display: flex;
    height: 70vh;
    position: relative;
    align-items: center;
    justify-content: center;
}
.aboutSpans{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    height: 75%;
    z-index: 1;
    width: 50%;
    align-items: flex-start;
}
.aboutSpansHeader{
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.aboutSpan{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    text-align: justify;
    text-transform: capitalize;
    color: #000000;
    position: relative;
    font-family: 'Nunito';
}
.aboutButton{
    border: white;
    height: 44px;
    background: #ED401A;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    padding: 0px 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.secondAboutLogo{
    position: absolute;
    filter: blur(7.5px);
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

/* Reeponsive Tablet Settings */

.tablet .aboutContainer{
    height: 100vh;
}

.tablet .aboutSpans{
    width: 100%;
    height: 40%;
    left: 0px;
    top: 0px;
    align-items: center;
    z-index: 1;
}

.tablet .aboutLogos{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}

.tablet .aboutSpan{
    width: 80%;
    text-align: justify;
}

.tablet .aboutButton{
    margin-top: 0px;
}

/* Reeponsive Mobile Settings */

.mobile .aboutContainer{
    height: 100vh;
    flex-direction: column;
}

.mobile .aboutSpans{
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    align-items: center;
}

.mobile .aboutSpan{
    width: 80%;
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
}

.mobile .aboutLogos{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}

.mobile .aboutSpansHeader{
    font-size: 30px;
}
.mobile .firstAboutLogo{
    width: 100%;
}