.SugarGoalsContainer{
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.sugarGoalHeader{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.sugarGoalsElements1{
    position: absolute;
    display: flex;
    gap: 80px;
}
.sugarGoalsElements2{
    position: absolute;
    display: none;
    gap: 80px;
}
.sugarGoalsElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    bottom: 30px;
}
.sugarGoalsHeader{
    height: 34px;
    width: 190px;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 66px;
    text-align: center;
}
.sugarGoalsSpan{
    height: 74px;
    width: 191px;
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 19px;
    text-align: center;
    color: #8A8A8A;
    mix-blend-mode: normal;
}
.sugarGoalsImage{
    height: 33px;
    width: 33px;
}
.goalsBubble{
    position: absolute;
    right: 0px;
    z-index: -1;
}
@media screen and (max-width: 1200px){
    .SugarGoalsContainer{
        height: 750px;
    }
    .sugarGoals img{
        width: 200px;
    }
    .goals1v1{
        width: 230px !important;
        top: 200px;
        right: 100px;
    }
    .goals2v1{
        bottom: 30px;
        left: 130px;
    }
    .goals3v1{
        width: 230px !important;
        left: 100px;
        bottom: 40px;
    }
    .goals4v1{
        bottom: 270px;
        right: 100px;
    }
    .goals1,
    .goals2,
    .goals3,
    .goals4{
        display: none;
    }

    .goals1v1,
    .goals2v1,
    .goals3v1,
    .goals4v1{
        display: flex !important;
    }
    .sugarGoalsElements1{
        display: none;
    }
    .sugarGoalsElements2{
        display: flex;
    }
    .sugarGoalsElementsGroup{
        display: flex;
        flex-direction: column;
        gap: 60px !important;
        position: relative;
        top: 30px;
        
    }
    .sugarGoalHeader{
        display: flex;
        font-size: 26px;
        position: relative;
    }
    .sugarGoalsHeader{
        width: 120px;
        font-size: 22px;
    }
    .sugarGoalsSpan{
        width: 148px;
        font-size: 10px;
    }
    .sugarGoalsImage{
        width: 23px;
        position: relative;
        top: 40px;
    }
    .sugarGoalsElements{
        top: 2240px;
    }
    .sugarGoals{
        position: relative;
        top: 50px;
    }
    .goalsBubble{
        display: none;
    }
    .goalsShadow{
        position: absolute;
        bottom: 60px;
    }
    .goalsLine{
        width: 414px !important;
        position: relative;
        bottom: 162px;
    }
    .goalsShadow{
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .SugarGoalsContainer{
        justify-content: normal;
    }
    .sugarGoalsElements2{
        height: 100%;
        gap: 55px;
    }
    .sugarGoals{
        position: absolute;
        top: auto;
    }
    .sugarGoalsElementsGroup{
        top: auto;
        justify-content: center;
    }
    .sugarGoalsElement{
        gap: 0px;
        bottom: 5px;
        left: 5px;
    }
    .sugarGoalsImage{
        top: auto;
        height: auto;
    }
    .sugarGoalsHeader{
        width: auto;
        height: auto;
    }
    .sugarGoalsSpan{
        width: 134px;
        font-size: 10px;
        line-height: 13px;
    }
    .goals1v1{
        width: 188px !important;
        top: 165px;
        right: 87px;
    }
    .goals2v1{
        bottom: 25px;
        left: 100px;
        width: 170px !important;
    }
    .goals3v1{
        width: 190px !important;
        left: 80px;
        bottom: 40px;
    }
    .goals4v1{
        bottom: 230px;
        right: 86px;
        width: 170px !important;
    }
    .goalsShadow{
        width: 250px;
    }
    .sugarGoals{
        width: 53%;
    }
    .goalsLine{
        width: 100% !important;
    }
}