.sugarBrandsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
    background: #EFEFEF;
}
.sugarBrandsHeader{
    display: flex;
    width: 100%;
    height: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-align: justify;
    text-transform: capitalize;
    color: #000000;
}
.sugarBrands{
    display: flex;
    gap: 77px;
}
.sugarBrand{
    display: flex;
    width: 313px;
    height: 542px;
    background: #FFFFFF;
    border-radius: 16px;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}
.sugarBrandHomeImg{
    position: relative;
    right: 3px;
    width: 320px;
    bottom: 27px;
    border-radius: 16px 16px 0px 0px;
}
.sugarBrandShadow{
    position: absolute;
    width: 289px;
    bottom: -19px;
    left: 13px;
    opacity: 0.3;
}
.sugarBrandSpan{
    width: 270px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    color: #000000;
    position: relative;
    left: 20px;
}
.sugarBrandLogo{
    width: 259px;
    position: relative;
    left: 20px;
    height: 42px;
}
.brandsPageButton{
    display: flex;
    gap: 10px;
}
.brandsPageButton img{
    width: 13px;
    height: 13px;
    border-radius: 10px;
    cursor: pointer;
}
 
#brand1{
    animation: slideRight 1s forwards;
}
#brand2{
    animation: slideRight 1s forwards;
}
#brand3{
    animation: slideRight 1s forwards;
}
.sugarBrandShadow1{
    animation: slideRight 1s forwards;
}
.sugarBrandShadow2{
    animation: slideRight 1s forwards;
}
.sugarBrandShadow3{
    animation: slideRight 1s forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Reeponsive Mobile Settings */

.mobile .sugarBrandsHeader{
    width: 100%;
    font-size: 19px;
}
.mobile #brand2,
.mobile #brand3{
    display: none;
}
.mobile .sugarBrandShadow1,
.mobile .sugarBrandShadow2,
.mobile .sugarBrandShadow3{
    display: none;
}
.mobile .brandsPageButton{
    display: flex !important;
}
.mobile .sugarBrandShadow1{
    top: 2420px;
    left: 120px;
}
.mobile .sugarBrandShadow2{
    top: 2420px;
    left: 120px;
}
.mobile .sugarBrandShadow3{
    top: 2420px;
    left: 120px;
}

.mobile .sugarBrands{
    padding: 40px 0px;
}

.mobile .sugarBrandsHeaders{
    padding: 40px 10px;
}

/* Reeponsive Tablet Settings */

.tablet .sugarBrandsHeader{
    width: 100%;
    font-size: 27px;
}
.tablet #brand2,
.tablet #brand3{
    display: none;
}
.tablet .sugarBrandShadow1,
.tablet .sugarBrandShadow2,
.tablet .sugarBrandShadow3{
    display: none;
}
.tablet .brandsPageButton{
    display: flex !important;
}
.tablet .sugarBrandShadow1{
    top: 2420px;
    left: 120px;
}
.tablet .sugarBrandShadow2{
    top: 2420px;
    left: 120px;
}
.tablet .sugarBrandShadow3{
    top: 2420px;
    left: 120px;
}