.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex!important;
    justify-content: center;
    align-items: center;
    
  }
  
  .swiper-slide img {
    display: block;
    width: 80%!important;
    height: auto;
    object-fit: cover;
  }

  .swiper-button-next {
    height: 40px!important;
    width: 40px!important;
   
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    background-repeat: no-repeat;
    
    
  }

  .swiper-button-next:hover{
    background-color: #fff;
  }
  
  .swiper-button-next::after{
    content: 'next';
    color: #ED401A!important;
    background-size: 30% ;
    background-position: center;
    font-size: 20px;
  }

  .swiper-button-prev {
    height: 40px!important;
    width: 40px!important;
   
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    background-repeat: no-repeat;
  }

  .swiper-button-prev:hover{
    background-color: #fff;
  }
  
  .swiper-button-prev::after{
    content: 'next';
    color: #ED401A!important;
    background-size: 30% ;
    background-position: center;
    font-size: 20px;
  }