.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex!important;
    justify-content: center;
    align-items: center;
    
  }
  
  .swiper-slide img {
    display: block;
    width: 80%!important;
    height: auto;
    object-fit: cover;
  }

  .swiper-button-next {
    width: 10px;
    height: 21px;
    left: 76.78px;
    top: 1604px;
    
  }

  .swiper-button-next::after{
    content: 'next';
    color: #ED401A!important;
    background-size: 30% ;
    background-position: center;
    font-size: 20px;
  }

  .swiper-button-prev {
    width: 10px;
    height: 21px;
    left: 76.78px;
    top: 1604px;
  
  }
  
  .swiper-button-prev::after{
    content: 'next';
    color: #ED401A!important;
    background-size: 30% ;
    background-position: center;
    font-size: 20px;
  }

  .customersSpan{
    position: relative;
    bottom: 260px;
    left: 490px;
    width: 875px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #666666;
  }