.MetaverseContainer{
    height: 730px;
    display: flex;
    justify-content: space-evenly;
    background: #EBEBEB;
    margin-top: 60px;
    align-items: center;
    position: relative;
}
.metaverseImage{
    width: 550px;
}
.metaverseImageDiv{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.tablet .MetaverseContainer{
    height: 900px;
}

.tablet .metaverseImage{
    width: 350px;
}

.tablet .metaverseImageDiv{
    right: auto;
}

.mobile .MetaverseContainer{
    height: 900px;
}

.mobile .metaverseImage{
    width: 350px;
}

.mobile .metaverseImageDiv{
    right: auto;
}
