/* ENDLESS ROTATE */
.rotate {
    animation: rotate 90s linear infinite;
    animation-direction: alternate;
}

.bright {
    animation: bright 5s linear infinite;
    animation-direction: alternate;
}


@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes bright {
    to {
        filter: brightness(1.5);
    }
}

.mainPageSliderContainer {
    width: 100%;
    height: 827px;
    background-color: #EBEBEB;
    position: relative;
    max-height: 826px;
    overflow: hidden;
}

.mainPageSliderItem {
    position: relative;

}

.mainPageTopLeftFigure {
    position: absolute;
    background-image: url(/public/MainPageSliderBackground/top_left.png);
    background-size: cover;
    width: 854px;
    height: 843px;
    top: calc(-200px);
    left: calc(-270px);
}

.mainPageTopRightFigure {
    position: absolute;
    background-image: url(/public/MainPageSliderBackground/top_right.png);
    width: 695px;
    height: 770px;
    right: -55px;
    top: -448px;
    background-size: cover;
}

.mainPageMiddleFigure {
    position: absolute;
    background-image: url(/public/MainPageSliderBackground/middle.png);
    background-size: cover;
    width: 474px;
    height: 367px;
    left: calc(50%);
    top: calc(50%);
    transform: translate(-200px, 65px);
}

.mainPageSmallFigure {
    position: absolute;
    background-image: url(/public/MainPageSliderBackground/small.png);
    width: 509px;
    height: 529px;
    left: -263px;
    bottom: -100px;
    background-size: cover;
}

.mainPageSmallFigure0 {
    position: absolute;
    background-image: url(/public/MainPageSliderBackground/small.png);
    width: 125px;
    height: 125px;
    right: 63px;
    top: 50px;
    background-size: cover;
}

.smallSliderMenu {
    position: absolute;
    left: 127px;
    bottom: 63px;
    height: 54px;
    display: flex;
    justify-content: space-around;
    width: 353px;
}

.slideDetail {
    position: absolute;
    width: 770px;
    height: 489px;
    right: -100px;
    bottom: 125px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25), inset 0px 0px 10px rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 42px;
}

.wheelAnimationFoot {
    width: 260px;
    height: 370px;
    position: absolute;
    background-image: url(/public/MainPageSliderItems/foot.png);
    bottom: -50px;
    right: 100px;
    transform: rotate(-15deg)
}


.wheelAnimationCamera {
    width: 190px;
    height: 387px;
    position: absolute;
    background-image: url(/public/MainPageSliderItems/phone.png);
    bottom: -109px;
    right: 140px;
    transform: rotate(68deg)translate(85px, -35px)
}


.wheelAnimationShoe {
    width: 250px;
    height: 145px;
    position: absolute;
    background-image: url(/public/MainPageSliderItems/shoe.png);
    bottom: -109px;
    right: 140px;
    transform: rotate(344deg)translate(125px, -20px)
}



.animationSofa {
    position: absolute;
    width: 373.4px;
    height: 186.56px;
    left: 121px;
    top: -398px;
    background-image: url(/public/assets/svg/fantasy/sofa.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

}


.animationStartSofa {
    animation: sofa0 1s ease-out, 1.4s sofa1 1.5s ease-out, infinite;
    animation-fill-mode: forwards;
}

.animationStopSofa {
    animation: sofa2 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes sofa0 {
    to {
        width: 373.4px;
        height: 186.56px;
        left: 124.2px;
        top: 278px;
    }
}

@keyframes sofa1 {
    to {
        width: 284.8px;
        height: 142.29px;
        left: 228px;
        top: 306px;
    }
}


@keyframes sofa2 {
    from {
        width: 284.8px;
        height: 142.29px;
        left: 228px;
        top: 306px;
    }

    to {
        width: 284.8px;
        height: 142.29px;
        left: -347px;
        top: 780px;
    }
}





.animationIphone {
    position: absolute;
    width: 190.61px;
    height: 386.38px;
    left: 173.6px;
    top: 206.59px;
    background: url(/public/assets/svg/fantasy/iphone.svg);
    background-size: contain;
    transform: rotate(9.86deg);
    z-index: 2;
}



.animationStartIphone {
    animation: ihpone0 1s ease-out, 1.4s ihpone01 1.5s ease-out, infinite;
    animation-fill-mode: forwards;
}

.animationStopIphone {
    animation: ihpone02 0.5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes ihpone0 {
    to {
        width: 190.61px;
        height: 386.38px;
        left: 229.07px;
        top: 161.45px;
        transform: rotate(105.22deg);
    }
}

@keyframes ihpone01 {
    to {
        width: 215.48px;
        height: 436.79px;
        left: 226.37px;
        top: 143.2px;

        transform: rotate(89.46deg);
    }
}


@keyframes ihpone02 {
    from {
        width: 215.48px;
        height: 436.79px;
        left: 226.37px;
        top: 143.2px;

        transform: rotate(89.46deg);
    }

    to {
        width: 190.61px;
        height: 386.38px;
        left: -277.44px;
        top: 475px;

        transform: rotate(29.72deg);
    }
}




.animationFloor {
    background: url(/public/assets/svg/fantasy/floor.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 767px;
    height: 193px;
    left: -826px;
    top: 593px;
    z-index: -2;
}


.animationStartFloor {
    animation: floor01 1s ease-out, 1.4s floor02 1.5s ease-out, infinite;
    animation-fill-mode: forwards;
}


.animationStopFloor {
    animation: floor03 1.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes floor01 {
    to {
        width: 767px;
        height: 193px;
        left: -787px;
        top: 601px;
    }
}

@keyframes floor02 {
    to {
        width: 596px;
        height: 106px;
        left: 50px;
        top: 415px;
    }
}


@keyframes floor03 {
    from {
        width: 596px;
        height: 106px;
        left: 50px;
        top: 415px;
    }

    to {
        width: 596px;
        height: 106px;
        left: -688px;
        top: 995px;
        border-radius: 0px;
    }
}


.animationFlower {
    background: url(/public/assets/svg/fantasy/flower.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 132.32px;
    position: absolute;
    height: 123.86px;
    left: 36.13px;
    top: -160px;

    filter: blur(2.5px);
    transform: rotate(14.55deg);
}


.animationStartFlower {
    animation: flower01 1s ease-out, 1.4s flower02 1.5s ease-out, infinite;
    animation-fill-mode: forwards;
}

.animationStopFlower {
    animation: flower03 1.5s ease-out;
    animation-fill-mode: forwards;
}


@keyframes flower01 {
    to {
        width: 132.32px;
        height: 123.86px;
        left: 39.32px;
        top: 516px;

        filter: blur(2.5px);
        transform: rotate(14.55deg);
    }
}

@keyframes flower02 {
    to {
        width: 105.3px;
        height: 98.57px;
        left: 131px;
        top: 285px;
        filter: blur(0px);
        transform: rotate(0deg);
    }
}


@keyframes flower03 {

    from {
        width: 105.3px;
        height: 98.57px;
        left: 131px;
        top: 285px;
        filter: blur(0px);
        transform: rotate(0deg);
    }

    to {
        left: -504px;
        top: 585px;

        filter: blur(2.5px);
        transform: rotate(-9.92deg);
    }
}



.animationDrawer {
    background: url(/public/assets/svg/fantasy/drawer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 179.19px;
    height: 149.46px;
    left: 264px;
    top: -585.57px;

    filter: blur(3.5px);
    transform: rotate(-21.76deg);
}


.animationStartDrawer {
    animation: drawer01 1s ease-out, 1.4s drawer02 1.5s ease-out, infinite;
    animation-fill-mode: forwards;
}


.animationStopDrawer {
    animation: drawer03 1.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes drawer01 {
    to {
        width: 179.19px;
        height: 149.46px;
        left: 267.2px;
        top: 90.43px;

        filter: blur(3.5px);
        transform: rotate(-21.76deg);
    }
}

@keyframes drawer02 {
    to {
        width: 85.45px;
        height: 71.27px;
        left: 140.55px;
        top: 381.29px;
        filter: blur(0px);
        transform: rotate(0deg);
    }
}

@keyframes drawer03 {

    from {
        width: 85.45px;
        height: 71.27px;
        left: 140.55px;
        top: 381.29px;
        filter: blur(0px);
        transform: rotate(0deg);
    }

    to {
        width: 85.45px;
        height: 71.27px;
        left: -208.36px;
        top: 549px;
        filter: blur(3.5px);
        transform: rotate(7.17deg);
    }
}




.animationCarpet {
    background: url(/public/assets/svg/fantasy/carpet.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 563px;
    left: -468px;
    width: 278.18px;
    height: 31.18px;
}


.animationStartCarpet {
    animation: carpet01 1s ease-out, 1.4s carpet02 1.5s ease-out, infinite;
    animation-fill-mode: forwards;
}

.animationStopCarpet {
    animation: carpet03 1.5s ease-out;
    animation-fill-mode: forwards;
}


@keyframes carpet01 {
    to {
        left: -451px;
        top: 563px;
    }
}

@keyframes carpet02 {
    to {
        left: 239px;
        top: 476px;
    }
}

@keyframes carpet03 {
    from {
        left: 239px;
        top: 476px;
    }

    to {
        left: -306px;
        top: 938px;
        border-radius: 0px;
    }
}



.animationWindow {
    background: url(/public/assets/svg/fantasy/window.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 129.489990234375px;
    width: 161.83245849609375px;
    left: -64px;
    top: -211px;
    border-radius: 0px;
}


.animationStartWindow {
    animation: window01 1s ease-out, 1.4s window02 1.5s ease-out, infinite;
    animation-fill-mode: forwards;
}

.animationStopWindow {
    animation: window03 1.5s ease-out;
    animation-fill-mode: forwards;
}


@keyframes window01 {
    to {
        height: 129.489990234375px;
        width: 161.83245849609375px;
        left: -64px;
        top: -211px;
        border-radius: 0px;
    }
}

@keyframes window02 {
    to {
        height: 129.489990234375px;
        width: 161.83245849609375px;
        left: 455px;
        top: 179px;
        border-radius: 0px;
    }
}

@keyframes window03 {
    from {
        height: 129.489990234375px;
        width: 161.83245849609375px;
        left: 455px;
        top: 179px;
        border-radius: 0px;
    }

    to {
        height: 129.489990234375px;
        width: 161.83245849609375px;
        left: -373px;
        top: -273px;
        border-radius: 0px;
    }
}