.headerContainer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    height: 70px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
.sugarLogo{
    position: relative;
    width: 160.08px;
    height: 58.46px;
    top: 5px;
    left: 30px;
    cursor: pointer;
}
.routers{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
    position: relative;
    left: 40px;
}
.routers a{
    color: #170F49;
    cursor: pointer;
    text-decoration: none;
}
.popupRouters{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    left: 10px;
}
.popupMediaCenterButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    gap: 4px;
    width: 154px;
    height: 48px;
    background: #ED401A;
    border-radius: 76px;
    border: none;
    position: relative;
    top: 20px;
    cursor: pointer;
}
.popupMediaCenterButton a{
    width: 105px;
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.popupRouter{
    height: 40px;
    width: 264px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 8px;
}
.popupRouter a{
    width: 120px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #353535;
    text-decoration: none;
}
.routers a:hover{
    color: red;
}
.headerButtons{
    display: flex;
    gap: 20px;
    margin-top: 18px;
    position: relative;
    right: 40px;
}
.languageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    width: 130px;
    height: 34px;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 5px 5px rgba(8, 15, 52, 0.04);
}
.languageSelect{
    border: none;
}
.englishButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 47px;
    position: relative;
    width: 132px;
    border-radius: 12px;
}
.turkishButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 47px;
    position: relative;
    width: 132px;
    border-radius: 12px;
}
.languageFlag{
    width: 36px;
    height: 30px;
}
.languageShowButton{
    width: 8px;
    height: 4px;
    cursor: pointer;
    position: relative;
    right: 10px;
}
.mediaCenterButton{
    width: 125px;
    height: 34px;
    background: #ED401A;
    border-radius: 76px;
    border: none;
    cursor: pointer;
}
.mediaCenterButton:hover,
.mediaCenterButton:hover a {
  background-color: red;
  color: white;
}

.mediaCenterButton a {
  color: red;
}

.mediaCenterButton:hover a {
  color: white;
}
.mediaCenterButton a{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.productServicesPopup {
    width: 208px;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    position: absolute;
    left: 535px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.productServicesPopup a {
    font-size: 13px;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 10px;
    width: 162px;
    height: 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
}
.popupOption:hover{
    background: #FFE9E7;
}
.productServicesPopup a:visited{
    color: #000000;
}
.popupOption{
    display: flex;
    position: relative;
    width: 196px;
    height: 30px;
    border-radius: 8px;
    left: 6px;
    top: 5px;
}
.popupVector{
    width: 10px;
    position: relative;
    left: 20px;
}
.popupLine{
    width: 200px;
    position: relative;
    left: 5px;
}
.popupLineSmall{
    width: 150px;
}
.secondPopup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 7px 8px;
    position: relative;
    width: 150px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
    border-radius: 12px;
    position: absolute;
    left: 750px;
    z-index: 6;
    top: 160px;
    justify-content: space-around;
}
.secondPopup a{
    text-decoration: none;
}
.firstPopup a{
    text-decoration: none;
}

.secondPopup a:visited{
    color: #000000;
}
.firstPopup a:visited{
    color: #000000;
}
.secondPopupFirstOption:hover,
.secondPopupSecondOption:hover{
    background: #F3E7E6;
}
.secondPopupFirstOption{
    display: flex;
    width: 150px;
    border-radius: 8px;
    height: 22px;
    align-items: center;
}
.secondPopupSecondOption{
    display: flex;
    width: 150px;
    border-radius: 8px;
    height: 22px;
    align-items: center;
}
.firstPopupFirstOption:hover,
.firstPopupSecondOption:hover,
.firstPopupThirdOption:hover{
    background: #F3E7E6;
}
.firstPopupFirstOption{
    display: flex;
    width: 150px;
    border-radius: 8px;
    height: 22px;
    align-items: center;
}
.firstPopupSecondOption{
    display: flex;
    width: 150px;
    border-radius: 8px;
    height: 22px;
    align-items: center;
}
.firstPopupThirdOption{
    display: flex;
    width: 150px;
    border-radius: 8px;
    height: 22px;
    align-items: center;
}
.firstPopup{
    display: flex;
    flex-direction: column;
    padding: 7px 8px;
    position: relative;
    width: 155px;
    height: 74px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
    border-radius: 12px;
    position: absolute;
    left: 750px;
    z-index: 6;
    top: 70px;
    justify-content: space-around;
}
#popupEnglishButton:hover,
#popupTurkishButton:hover{
    background: #F3E7E6;
}
.languagePopup{
    display: flex;
    top: 60px;
    right: 135px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    z-index: 6;
    background: white;
    width: 150px;
    height: 130px;
    border-radius: 12px;
}
.headerShowButton{
    display: flex;
    width: 50px;
    position: relative;
    left: 10px;
}
.mobileHeaderPopup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    position: relative;
    width: 280px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
    border-radius: 12px;
    gap: 10px;
    top: 71px;
}
.backToHome{
    display: flex;
    gap: 10px;
    flex-direction: row;
    position: relative;
    left: 5px;
}
.backToHomeInput{
    height: 40px;
    width: 264px;
    background: #E0E0E0;
    opacity: 0.5;
    border-radius: 8px;
    border: none;
}
.backToHomeInput::placeholder{
    position: relative;
    left: 10px;
}
.backToHomeSpan{
    width: 125px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #353535;
}
.popupRightButton{
    width: 10px;
    cursor: pointer;
}
.popupRouter:hover{
    color: red;
}
.popupRightButton:hover{
    color: red;
}
.backToHomeArrow{
    cursor: pointer;
}
.askYourQuestionRobot{
    position: absolute;
    left: 1250px;
    top: 580px;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .headerContainer{
        justify-content: normal;
        gap: 100px;
        width: 499px !important;
    }
    .headerShowButtons{
        display: flex !important;
    }
    .headerShowButton{
        display: flex !important;
    }
    .routers{
        display: none;
    }
    .mediaCenterButton{
        display: none;
    }
    #headerLanguage{
        display: none;
    }
    .languageButton{
        gap: 0px;
        width: 60px;
        left: 40px;
    }
    .languagePopup{
        right: 0px;
    }

    .productServicesPopup{
        left: 300px;
        top: 230px !important;
    }
    .askYourQuestionRobot{
        left: 340px;
        top: 590px;
        width: 150px;
    }
}