.statisticsContainer{
    display: flex;
    height: 276px;
    background: #EFEFEF;
    justify-content: space-evenly;
    align-items: center;
}
.leftStatictics{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
}
.firstSpan{
    width: 300px;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01666em;
    color: #ED401A;
    position: relative;
}
.secondSpan{
    width: 300px;
    height: 27px;
    font-weight: 600;
    font-size: 20px;
    line-height: 0px;
    color: #252F40;
    text-align: center;
    position: relative;
}
.thirdSpan{
    width: 300px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #67748E;
    position: relative;
}
.rightStatictics{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
}
@media screen and (max-width: 500px){
    .statisticsContainer{
        width: 414px;
        height: 150px;
    }
    .firstSpan{
        font-size: 30px;
        top: 20px;
    }
    .secondSpan{
        font-size: 15px;
    }
    .thirdSpan{
        width: 126px;
        font-size: 12px;
        left: 90px;
        bottom: 20px;
    }
    .leftStatictics{
        left: 40px;
    }
    .rightStatictics{
        right: 40px;
    }
}