.WhoSugarContainer{
    display: flex;
    flex-direction: column;
    height: 980px;
    margin-top: 60px;
}
.flyingElements1{
    display: flex;
}
.flyingElements1 img{
    width: 200px;
}
.whoSugarSpans{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whoSugarHeader{
    width: 550px;
    height: 139px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
    position: relative;
    left: 20px;
    bottom: 50px;
}
.whoSugarSpan{
    width: 806px;
    height: 180px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.whoSugarLogos{
    display: flex;
}
.whoSugarLogo1{
    position: absolute;
    left: 440px;
    top: 600px;
    z-index: -1;
}
.whoSugarLogo2{
    position: absolute;
    z-index: -1;
    top: 300px;
}
@media screen and (max-width: 500px){
    .WhoSugarContainer{
        width: 500px;
        height: 897px;
    }
    .whoSugarHeader{
        width: 235px;
        height: 35px;
        font-size: 35px;
        left: 0px;
        bottom: 0px;
    }
    .flyingElements1{
        display: none;
    }
    .flyingElements2{
        display: flex !important;
    }
    .mobileBubble1{
        position: relative;
        top: 100px;
        right: 5px;
    }
    .mobileBubble2{
        position: relative;
        right: 120px;
        bottom: 10px;
    }
    .mobileBubble3{
        position: relative;
        right: 150px;
        top: 20px;
    }
    .mobileBubble4{
        position: relative;
        right: 200px;
        top: 70px;
    }
    .mobileBubble5{
        position: relative;
        right: 250px;
        bottom: 20px;
    }
    .mobileBubble6{
        position: relative;
        right: 325px;
        top: 100px;
    }
    .whoSugarSpans{
        position: relative;
        top: 50px;
        gap: 30px;
        right: 30px;
    }
    .whoSugarSpan{
        width: 356px;
        font-size: 13px;
    }
    .whoSugarLogo1{
        width: 400px;
        left: 10px;
        bottom: 0px;
    }
    .whoSugarLogo2{
        bottom: -400px;
        width: 400px;
    }
}