.arDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1027px;
}
.arDetailsSpans{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.arDetailsHeader{
    width: 738px;
    height: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.arDetailsSpan{
    width: 978px;
    height: 141px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.arDetailsShadow{
    position: absolute;
    top: 1787px;
    width: 808px;
    left: 325px;
    opacity: 0.6;
    z-index: -1;
}
.arDetailsOptions{
    display: flex;
    gap: 50px;
}
.option1Span{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ED401A;
    mix-blend-mode: normal;
    cursor: pointer;
}
.option2Span{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ABABAB;
    mix-blend-mode: normal;
    cursor: pointer;
}
.option3Span{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ABABAB;
    mix-blend-mode: normal;
    cursor: pointer;
}
.option1Line{
    width: 308.53px;
    height: 0px;
    border: 3px solid #ED401A;
    transform: rotate(-180deg);
}
.option2Line{
    width: 308.53px;
    height: 0px;
    border: 3px solid #ABABAB;
    transform: rotate(-180deg);
}
.option3Line{
    width: 308.53px;
    height: 0px;
    border: 3px solid #ABABAB;
    transform: rotate(-180deg);
}
.option1Popup{
    position: absolute;
    width: 307px;
    height: 195px;
    left: 200px;
    top: 1200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
}
.option2Popup{
    position: absolute;
    width: 307px;
    height: 195px;
    left: 565px;
    top: 1200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
}
.option3Popup{
    position: absolute;
    width: 307px;
    height: 195px;
    left: 934px;
    top: 1200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
}
.optionPopupSpan{
    width: 250px;
    height: 169px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    text-transform: capitalize;
    color: #000000;
    position: relative;
    top: 10px;
}
@media screen and (max-width: 500px){
    .arDetailsContainer{
        height: 700px;
    }
    .arDetailsHeader{
        width: 243px;
        font-size: 29px;
    }
    .arDetailsSpan{
        width: 357px;
        font-size: 13px;
    }
    .arDetailsShadow{
        top: 1654px;
        width: 376px;
        left: 12px;
    }
    .showAtHomeImg{
        width: 400px;
        top: 1400px !important;
        left: 0px !important;
    }
}