.arDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1027px;
    position: relative;
}
.arDetailsSpans{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 100%;
}
.arDetailsHeader{
    width: 100%;
    height: 10%;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.arDetailsSpan{
    width: 90%;
    height: 160px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.arDetailsOptions{
    display: flex;
    gap: 50px;
}
.option1Span{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ED401A;
    mix-blend-mode: normal;
    cursor: pointer;
}
.option2Span{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ABABAB;
    mix-blend-mode: normal;
    cursor: pointer;
}
.option3Span{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ABABAB;
    mix-blend-mode: normal;
    cursor: pointer;
}
.option1Line{
    width: 308.53px;
    height: 0px;
    border: 3px solid #ED401A;
    transform: rotate(-180deg);
}
.option2Line{
    width: 308.53px;
    height: 0px;
    border: 3px solid #ABABAB;
    transform: rotate(-180deg);
}
.option3Line{
    width: 308.53px;
    height: 0px;
    border: 3px solid #ABABAB;
    transform: rotate(-180deg);
}
.option1Popup{
    position: absolute;
    width: 307px;
    height: 195px;
    left: 200px;
    top: 1200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
}
.option2Popup{
    position: absolute;
    width: 307px;
    height: 195px;
    left: 565px;
    top: 1200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
}
.option3Popup{
    position: absolute;
    width: 307px;
    height: 195px;
    left: 934px;
    top: 1200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.35);
}
.optionPopupSpan{
    width: 250px;
    height: 169px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    text-transform: capitalize;
    color: #000000;
    position: relative;
    top: 10px;
}

#sugar-model-container{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: 80%;
    height: 100%;
    border: 1px solid;
}
.mobile .arDetailsContainer{
    height: 960px;
}
.mobile .arDetailsHeader{
    font-size: 29px;
}
.mobile .arDetailsSpan{
    font-size: 13px;
}
.mobile .showAtHomeImg{
    display: none;
}
.tablet .arDetailsContainer{
    height: 960px;
}
.tablet .arDetailsHeader{
    font-size: 29px;
}
.tablet .arDetailsSpan{
    font-size: 13px;
}
.tablet .showAtHomeImg{
    display: none;
}
