.tryWatchContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tryWatchElements{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tryWatchImageDiv{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.tryWatchImage{
    width: 60%;
}

/* Reeponsive Mobile Settings */

.mobile .tryWatchContainer{
    height: 85vh;
}
