.tryWatchContainer{
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.watchShadow{
    position: absolute;
    top: 748px;
    width: 771px;
    z-index: -1;
    opacity: 0.9;
}
@media screen and (max-width: 500px){
    .tryWatchContainer{
        height: 700px;
    }
}