.footerContainer{
    display: flex;
    flex-direction: column;
    height: 120px;
    gap: 50px;
}
.footerElements{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 10px;
    gap: 500px;
}
.footerSpan{
    width: 638px;
    height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 157.4%;
    color: #797979;
}
.footerMediaButtons{
    display: flex;
    gap: 20px;
}
.footerMediaButtons img{
    cursor: pointer;
}
@media screen and (max-width: 500px){
    .footerContainer{
        width: 500px;
        height: 60px;
        flex-direction: row;
    }
    .footerLine{
        position: relative;
        left: 30px;
        top: 20px;
    }
    .footerSpan{
        font-size: 9px;
        position: relative;
        top: 70px;
        right: 340px;
    }
    .footerMediaButtons{
        position: relative;
        top: 70px;
        right: 1390px;
    }
    .footerMediaButtons img{
        width: 10px;
        color: #808080;
    }
}