.MetaverseProjectContainer{
    height: 898px;
}
.metaverseProjectBackground{
    width: 100%;
    z-index: -1;
    position: absolute;
}
.metaverseProjectElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    top: 80px;
}
.metaverseProjectHeader{
    width: 738px;
    height: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.metaverseProjectSpan{
    width: 978px;
    height: 141px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.metaverseProjectElement{
    width: 941px;
    height: 529px;
}
@media screen and (max-width: 500px){
    .MetaverseProjectContainer{
        width: 414px;
        height: 400px;
    }
    .metaverseProjectHeader{
        width: 258px;
        height: 35px;
        font-size: 29px;
    }
    .metaverseProjectSpan{
        width: 348px;
        font-size: 13px;
    }
    .metaverseProjectElements{
        top: 20px;
    }
    .metaverseProjectElement{
        width: 320px;
        position: relative;
        bottom: 140px;
    }
    .metaverseProjectBackground{
        display: none;
    }
    .metaverseProjectBackgroundMobile{
        display: flex !important;
        width: 414px;
        position: absolute;
    }
}