.tryShoesContainer{
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.shoeShadow{
    position: absolute;
    top: 776px;
    width: 813px;
    z-index: -1;
    opacity: 0.9;
}
@media screen and (max-width: 500px){
    .tryShoesContainer{
        height: 600px;
    }
    .shoeShadow{
        top: 412px;
        width: 300px;
    }
    #shoeBubble{
        top: 1200px;
        transform: rotate(30deg);
        left: 180px;
    }
}