.tryShoesContainer{
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.shoeShadow{
    position: absolute;
    top: 776px;
    width: 813px;
    z-index: -1;
    opacity: 0.9;
}
@media screen and (max-width: 500px){
    .tryShoesContainer{
        height: 700px;
    }
}