.shoesQrContainer{
    display: flex;
    height: 750px;
    background: #E9E9E9;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
}
.qrGroup{
    display: flex;
    gap: 30px;
}
.shoesQrElements{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.shoesQrHeader{
    height: 155px;
    width: 516px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    letter-spacing: -1px;
    color: #000000;
}
.shoesQrSpan{
    width: 451px;
    height: 72px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.shoesButtons{
    width: 207px;
    height: 157px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 20px;
    cursor: pointer;
}
.shoesQrShoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.shoesQrImg{
    position: relative;
}

.tablet  .shoesQrContainer{
    height: 1000px;
}

.tablet .shoesQrElements{
    position: absolute;
    top: 0px;
    align-items: center;
}

.tablet .shoesQrImg{
    position: absolute;
    bottom: 0px;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.tablet .shoesQrHeader{
    height: 96px;
    width: 100%;
    font-size: 35px;
}


.tablet .shoesQr{
    position: absolute;
    width: 20%;
    top: 150px !important;
    left: 35%;
    right: auto !important;
}



.mobile .shoesQrContainer{
    height: 900px;
}

.mobile .shoesQrElements{
    position: absolute;
    top: 0px;
    align-items: center;
}

.mobile .shoesQrImg{
    position: absolute;
    bottom: 0px;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.mobile .shoesQrSpan{
    display: none;
}

.mobile .shoesQrPhone{
    width: 70%;

}

.mobile .shoesQr{
    position: absolute;
    width: 20%;
    top: 150px !important;
    left: 35%;
    right: auto !important;
}

.mobile .shoesQrHeader{
    height: 96px;
    width: 100%;
    font-size: 35px;
}



