.jointAboutContainer{
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.jointAboutElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
}
.jointAboutHeader{
    height: 155px;
    width: 769px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1px;
    color: #000000;
}
.jointAboutSpan{
    width: 652px;
    height: 196px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.jointAboutImage{
    filter: drop-shadow(1px 6px 8px rgba(66, 66, 66, 0.35));
}
.jointAboutBubble{
    position: absolute;
    left: 630px;
    z-index: -1;
}