.jointAboutContainer{
    height: 900px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.jointAboutElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 90px;
}
.jointAboutHeader{
    height: 100px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1px;
    color: #000000;
}
.jointAboutSpan{
    width: 50%;
    height: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}
.jointAboutBubble{
    position: absolute;
    left: 630px;
    z-index: -1;
}
.jointShadow{
    position: absolute;
    bottom: -43px;
    width: 700px;
    z-index: -1;
    opacity: 0.5;
}
.jointAboutImage{
    width: 700px;
}


.mobile .jointAboutContainer{
    height: 600px;
}
.mobile .jointAboutHeader{
    width: 341px;
    font-size: 29px;
    position: relative;
    bottom: 50px;
}
.mobile .jointAboutSpan{
    width: 364px;
    font-size: 13px;
    position: relative;
    bottom: 20px;
}
.mobile .jointAboutImage{
    position: relative;
    top: none;
    bottom: 30px;
    width: 400px;
}
.mobile .jointShadow{
    bottom: 7px;
    width: 400px;
}
.mobile .jointAboutBubble{
    display: none;
}


.tablet .jointAboutBubble{
    display: none;
}

