.jointAboutContainer{
    height: 900px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.jointAboutElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    justify-content: center;
}
.jointAboutHeader{
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}
.jointAboutSpan{
    width: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.jointAboutBubble{
    position: absolute;
    right: 0px;
    z-index: -1;
}
.jointShadow{
    position: absolute;
    bottom: -20px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
.jointAboutImage{
    width: 47%;
}

/* Reeponsive Mobile Settings */

.mobile .jointAboutContainer{
    height: 70vh;
}
.mobile .jointAboutHeader{
    font-size: 29px;
    line-height: 45px;
}
.mobile .jointAboutSpan{
    width: 80%;
    font-size: 13px;
    line-height: 24px;
}
.mobile .jointAboutImage{
    width: 80%;
}

.mobile .jointAboutElements{
    justify-content: space-evenly;
}

.mobile .jointAboutBubble{
    display: none;
}

/* Reeponsive Tablet Settings */

.tablet .jointAboutBubble{
    display: none;
}

.tablet .jointAboutContainer{
    height: 70vh;
}
.tablet .jointAboutHeader{
    font-size: 29px;
    line-height: 45px;
}
.tablet .jointAboutSpan{
    width: 80%;
    font-size: 13px;
    line-height: 24px;
}
.tablet .jointAboutImage{
    width: 80%;
}

.tablet .jointAboutElements{
    justify-content: space-evenly;
}

