.experienceReportsContainer{
    height: 619px;
    display: flex;
    flex-direction: column;
    background: #EFEFEF;
}
.reportsSpanElement{
    display: flex;
    position: relative;
    left: 200px;
    top: 150px;
    gap: 100px;
}
.reportsSpans{
    width: 651px;
    height: 268px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000000;
}
.reportsHeader{
    width: 1081px;
    height: 66px;
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 66px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #000000;
    position: relative;
    left: 240px;
    top: 40px;
}
.reportList{
    position: relative;
    right: 70px;
}
.reportsSpangImgShadow{
    position: absolute;
    display: none;
    opacity: 0.3;
}
@media screen and (max-width: 500px){
    .experienceReportsContainer{
        height: 800px;
    }
    .reportsHeader{
        width: 333px;
        font-size: 29px;
        height: 70px;
        left: 100px;
    }
    .reportsSpanElement{
        flex-direction: column-reverse;
    }
    .reportsSpans{
        width: 322px;
        font-size: 13px;
    }
    .reportsSpan{
        position: relative;
        right: 100px;
        bottom: 50px;
    }
    .reportList{
        right: 130px;
        bottom: 60px;
    }
    .reportsSpansImg{
        width: 321px;
        position: relative;
        right: 100px;
        bottom: 100px;
    }
    .reportsSpangImgShadow{
        display: flex;
        width: 320px;
        right: 280px;
        bottom: 81px;
    }
}