.blogGraphQLContainer{
    height: 95vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.blogGraphSpans{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    width: 70%;
    align-items: center;
    justify-content: center;
}
.blogGraphBackground{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.blogGraphHeader{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
}
.blogGraphSpan{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
}

.blogGraphBackgroundMobile{
    display: none;
    position: absolute;
    z-index: -1;
    width: 100%;
}

/* Reeponsive Tablet Settings */

.tablet .blogGraphQLContainer{
    height: 64vh;
    margin-top: 70px;
}

.tablet .blogGraphHeader{
    font-size: 30px;
    line-height: 37px;
}

.tablet .blogGraphSpan{
    font-size: 15px;
    line-height: 26px;
}

.tablet .blogGraphBackground{
    display: none;
}

.tablet .blogGraphBackgroundMobile{
    display: block;
}

.tablet .blogGraphSpans{
    height: 100%;
}

/* Reeponsive Mobile Settings */

.mobile .blogGraphQLContainer{
    align-items: center;
    height: 64vh;
    margin-top: 70px;
}

.mobile .blogGraphHeader{
    font-size: 30px;
    line-height: 37px;
}

.mobile .blogGraphSpan{
    font-size: 15px;
    line-height: 26px;
}

.mobile .blogGraphBackground{
    display: none;
}

.mobile .blogGraphBackgroundMobile{
    display: block;
}

.mobile .blogGraphSpans{
    height: 100%;
}

@media screen and (max-width: 500px) {
    .blogGraphQLContainer{
        height: 110vh;
    }
    
}




