.SugarSquadContainer{
    height: 517px;
    background: #F7F7F7;
    display: flex;
    position: relative;
}
.sugarSquadsDeskop{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    margin: auto;
}
.SugarSquadMember{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.crew{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 20%;
    animation: slideRight 1s forwards;
}
.memberInformation{
    display: flex;
    flex-direction: column;
}
.memberName{
    width: 142px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #000000;
}
.memberPosition{
    width: 109px;
    height: 41px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.035em;
    color: #000000;
}
.SugarSquadMember img{
    background: #EBEBEB;
    border-radius: 100px;
}
.squadPageButtons{
    display: none;
    gap: 10px;
}
.squadPageButtons img{
    width: 13px;
    height: 13px;
    border-radius: 10px;
    cursor: pointer;
}

.tablet .SugarSquadContainer{
    height: 570px;
}

.tablet .crew{
    width: auto;
}


.mobile .SugarSquadContainer{
    height: 850px;
}

.mobile .sugarSquadsDeskop{
    left: 10px;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.mobile .crew{
    width: auto;
}

.sugarSquadsMobile{
    display: none;
}

@media screen and (max-width: 970px) {
    .sugarSquadsMobile{
        display: flex;
    }
    .sugarSquadsDeskop{
        display: none;
    }
}

@media screen and (max-width: 530px) {
    .crew{
        margin-top: 30px;
    }
    .sugarSquadsDeskop{
        gap: 0px;
    }

    .SugarSquadMember img{
        width: 20%;
    }
}